.panelist {
    margin: 16px;
	width: 512px;
}

.panelist-name {
    width: 100px;
}

.light-box {
    width:50px;
    height:50px;
    /* border-radius:500px; */
    background:#000000;
}

.light-box, .panelist-name {
	float: left;
	vertical-align: bottom;
}