.light-box {
    width:50px;
    height:50px;
    /* border-radius:500px; */
    background:#000000;
}

.panelist {
	width: 512px;
}

.light-box, .panelist-name {
	float: left	;
	vertical-align: bottom;
}